
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  border: 2px solid #0070f3; 
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  width: 400px;
  align-items: center;
  margin-left: 35%;
  
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 300px;
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-gap: 10px;
}

.button {
  width: 75px;
  height: 75px;
  font-size: 24px;
  border-radius: 10px;
  background-color: #0070f3; 
  color: white; 
  border: none; 
  transition: background-color 0.3s; 
  border: 2px solid #0b40a1;
  transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #005bb5; 
  border-color: #003f7f;
}